@{
    ViewData["Title"] = "Dashboard";

    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Dashboard/_Layout.cshtml";
    }
}


                <h2 class="mb-3 mb-lg-0" > @User.Identity.Name </h2>
        
    
 
