@model Products

@{
    ViewData["Title"] = "Dashboard";

    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Dashboard/_Layout.cshtml";
    }
}


<h2>Edit Product</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" asp-for="Description" type="text"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input class="form-control" asp-for="Price" type="text" />
     @*   <span asp-validation-for="Price" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <label asp-for="Status">Status</label>
        <input class="form-control" asp-for="Status" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Height">Height</label>
        <input class="form-control" asp-for="Height" type="number" />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Whidh">Width</label>
        <input class="form-control" asp-for="Whidh" type="number"/>
        <span asp-validation-for="Whidh" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Stock">Stock</label>
        <input class="form-control" asp-for="Stock" type="number"/>
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image1">Image 1</label>
        <input class="form-control" asp-for="Image1" type="file"/>
        <span asp-validation-for="Image1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image2">Image 2</label>
        <input class="form-control" asp-for="Image2"  type="file" />
        <span asp-validation-for="Image2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image3">Image 3</label>
        <input class="form-control" asp-for="Image3"  type="file" />
        <span asp-validation-for="Image3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
