@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style=" padding: 40px;
  margin-top: 40px;">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="imagem1.jpg" class="img-fluid" alt="Imagem do produto">
        </div>
        <div class="col-md-6">
            <h1>Nome do Produto</h1>
            <p>Descrição do Produto</p>
            <p>Altura: [insira aqui]</p>
            <p>Largura: [insira aqui]</p>
            <p>Preço: [insira aqui]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/cloth_1.jpg" class="img-fluid" alt="Imagem do produto">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/cloth_2.jpg class="img-fluid" alt="Imagem do produto">
        </div>
        <div class="col-md-4">
            <img src="~/images/cloth_3.jpg" class="img-fluid" alt="Imagem do produto">
        </div>
        <div class="col-md-4">
            <img src="~/images/gal_1.jpg" class="img-fluid" alt="Imagem do produto">
        </div>
    </div>
</div>
</div>