@{
    ViewData["Title"] = "Home Page";
}

<section class="content-1">
	<div class="container">
		<div class="row justify-center">
			<div class="col-md-6 text-center">
				<img class="mb-4 img-fluid" src="images/dinheiro.jpg">
			</div>
			<div class="col-md-6 text-center text-md-left">
				<h2 class="mb-4 mt-4"> A forma mais fácil de conseguires o teu dinheiro!</h2>
				<p class="mb-4"></p>
			</div>
		</div>
	</div>
</section>

<section class="content-2">
	<div class="container">
		<div class="row justify-center">
			<div class="col-md-6 text-center text-md-left pl-5">
				<h2 class="mb-4 mt-4">Se procuras alguém para contratar. Estas no sítio certo!</h2>
				<p class="mb-4"></p>

			</div>
			<div class="col-md-6 text-center">
				<img class="mb-4 img-fluid" src="images/contrato.jpg">
			</div>
		</div>
	</div>
</section>