@model MyBiome.Models.SubCategory

@{

    ViewData["Title"] = "ChangePassword";

    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Dashboard/_Layout.cshtml";
    }
}

<div style=" padding: 40px;
  margin-top: 40px;">

<div class="container"> 
<h2>Create</h2>

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
             <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <div class="input-group">
                    <select class="form-control" asp-for="CategoryId"
                            asp-items="@(new SelectList(ViewBag.catList,"Value","Text"))">
                        <option>Selecione uma opção</option>
                    </select>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#progressBarCenter" id="refreshCategorias">Atualizar</button>
                </div>

                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
