
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Dashboard/_Layout.cshtml";
    }
}

<div class="container">
    <h1 class="text-center my-5">Produtos Favoritos</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Produto 1">
                <div class="card-body">
                    <h5 class="card-title">Produto 1</h5>
                    <p class="card-text">Descrição do Produto 1.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-danger">Remover</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                    <h5 class="card-title">Produto 2</h5>
                    <p class="card-text">Descrição do Produto 2.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-danger">Remover</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Produto 3">
                <div class="card-body">
                    <h5 class="card-title">Produto 3</h5>
                    <p class="card-text">Descrição do Produto 3.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-danger">Remover</a>
                </div>
            </div>
        </div>
    </div>
</div>